@model _TrashCollector_DCC.Models.CustomerInfo

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    ViewBag.Title = "ChosePickUp";
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pickup Day</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h3>Choose Your Weekly Pickup Day</h3>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
           

            <div class="form-group">
                @Html.LabelFor(model => model.WeeklyPickup, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WeeklyPickup, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.WeeklyPickup, "", new { @class = "text-danger" })
                </div>
            </div>

          

           

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Home", "Index")
    </div>
</body>
</html>
