@model _TrashCollector_DCC.Models.CustomerAccountViewModel

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Customer Account </h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dd>
          Full Name:  @Html.DisplayFor(model => model.customer.FirstName)  @Html.DisplayFor(model => model.customer.LastName)

        </dd>

        

        <dd>
            Address: @Html.DisplayFor(model => model.customer.Street) ,@Html.DisplayFor(model => model.customer.City) @Html.DisplayFor(model => model.customer.State) @Html.DisplayFor(model => model.customer.Zip)

        </dd>


        <dd>
        </dd>

       

      

        <dd>
            Your Weekly PickUp Day :  @Html.DisplayFor(model => model.customer.WeeklyPickUpDay)   @Html.ActionLink("Edit", "EditWeeklyPickup", new { id = Model.customer.Id })

        </dd>

        


        <dd>
           Your Balance : $ @Html.DisplayFor(model => model.customer.Balance) <div class="btn btn-primary"> Pay Now </div>
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
