@model _TrashCollector_DCC.Models.CustomerAccountViewModel

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <h4>Dashboard </h4>
    <hr />
    <div class="row">

        <div class="col-6">

            <dl class="dl-horizontal">


                <dd>
                    Full Name:  @Html.DisplayFor(model => model.customer.FirstName)  @Html.DisplayFor(model => model.customer.LastName)

                </dd>



                <dd>

                    Address: @Html.DisplayFor(model => model.customer.Street) ,@Html.DisplayFor(model => model.customer.City) @Html.DisplayFor(model => model.customer.State) @Html.DisplayFor(model => model.customer.Zip)

                </dd>


                <dd>
                </dd>





                <dd>


                    Your Weekly PickUp Day :  @Html.DisplayFor(model => model.customer.WeeklyPickUpDay)   @Html.ActionLink("Edit", "EditWeeklyPickup", new { id = Model.customer.Id })

                </dd>




                <dd>

                    Current Balance :$ @Html.DisplayFor(model => model.customer.Balance)
                    @if (Model.customer.Balance > 0)
                    {
                        @Html.ActionLink("Pay", "Pay", new { id = Model.customer.Id }, htmlAttributes: new { @class = "btn btn-primary" })

                    }


                </dd>


                @if (Model.customer.IsSuspended == false)
                {

                    <dd>
                        <hr />

                        Are You Away From Home?  @Html.ActionLink("Suspend Account", "SuspendAcount", new { id = Model.customer.Id })



                    </dd>
                }
                @if (Model.customer.IsSuspended == true)
                {
                    <dd>
                        <hr />

                        Your Account is Suspended  From  @Html.DisplayFor(model => model.customer.StartDate) To @Html.DisplayFor(model => model.customer.EndDate)


                    </dd>

                    @Html.ActionLink("Activate Again", "ActivateAccount", new { id = Model.customer.Id })



                }

            </dl>


        </div>
        @if (Model.customer.ExtraPick == "Extra Pickup ")
        {
            <p> Pendind Request </p>

            <p> for :</p> @Html.DisplayFor(model => model.customer.ExtraPickUp)

        }

        @Html.ActionLink("Request New Pick Up", "ExtraPickUp", new { id = Model.customer.Id }, htmlAttributes: new { @class = "btn btn-primary" })


    </div>
</div>