@model _TrashCollector_DCC.Models.CustomerAccountViewModel

@{
    ViewBag.Title = "Details";
}


<div class="container">

    <div class="narrow text-center padding">
        <div class="container">

            <h3 class="narrow"> Hello, </h3> <p class="lead"> @Html.DisplayFor(model => model.customer.FirstName)  @Html.DisplayFor(model => model.customer.LastName)</p><br />


        </div>



    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="narrow text-center padding">
                <h5 class="narrow"> Weekly PickUp Day  </h5>
                <p class="lead narrow">
                    @Html.DisplayFor(model => model.customer.WeeklyPickUpDay)
                </p>
                @Html.ActionLink("Edit", "EditWeeklyPickup", new { id = Model.customer.Id }, htmlAttributes: new { @class = "btn btn-outline-warning" })
            </div>
        </div>

        <div class="col-md-3">
            <div class="narrow text-center padding">
                <h5 class="narrow">
                    Current Balance
                </h5>
                <p class="lead narrow">
                    $ @Html.DisplayFor(model => model.customer.Balance)
                </p>
                @if (Model.customer.Balance > 0)
                {
                    @Html.ActionLink("Pay", "Pay", new { id = Model.customer.Id }, htmlAttributes: new { @class = "btn btn-outline-primary" })

                }
            </div>
        </div>

        <div class="col-md-3">
            <div class="narrow text-center padding">
                <h5 class="narrow padding">
                    I have Extra trash!
                </h5>
                <p class="lead narrow">
                    @Html.ActionLink("Request New Pick Up", "ExtraPickUp", new { id = Model.customer.Id }, htmlAttributes: new { @class = "btn btn-outline-primary" })
                </p>
                @if (Model.customer.ExtraPick == "Extra Pickup ")
                {
                    <p class="lead narrow"> Pendind Request </p>
                    <p class="lead "> @Html.DisplayFor(model => model.customer.ExtraPickUp) </p>


                }
            </div>
        </div>

        @if (Model.customer.IsSuspended == false)
        {
            <div class="col-md-3">
                <div class="narrow text-center padding">
                    <h5 class="narrow padding">
                        I am Away From Home
                    </h5>
                    @Html.ActionLink("Suspend Account", "SuspendAcount", new { id = Model.customer.Id }, htmlAttributes: new { @class = "btn btn-outline-danger" })

                </div>
            </div>
        }
        @if (Model.customer.IsSuspended == true)
        {
            <div class="col-md-3">
                <div class="narrow text-center padding">
                    <h5 class="narrow">
                        Your Account is Suspended
                    </h5>

                    @Html.DisplayFor(model => model.customer.StartDate) @Html.DisplayFor(model => model.customer.EndDate)



                    @Html.ActionLink("Activate Again", "ActivateAccount", new { id = Model.customer.Id }, htmlAttributes: new { @class = "btn btn-outline-success" })

                </div>
            </div>

        }

    </div>
   



</div>

<h5 class="narrow"> Address </h5> <p class="lead narrow"> @Html.DisplayFor(model => model.customer.Street) ,@Html.DisplayFor(model => model.customer.City) @Html.DisplayFor(model => model.customer.State) @Html.DisplayFor(model => model.customer.Zip)</p>


<style>

    .padding {
        padding: 3rem 0;
    }

    .narrow {
        width: 85%;
        margin: 0 auto;
        padding-top: 1rem;
    }
</style>
