@model IEnumerable<_TrashCollector_DCC.Models.CustomerViewModel>

@{
    ViewBag.Title = "Todays Trash Pickups";
    //Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Todays Trash Pickups</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>



<table class="table">
   
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AllCustomers.FirstName)
        </th>
 
        <th>
            @Html.DisplayNameFor(model => model.AllCustomers.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCustomers.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCustomers.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCustomers.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCustomers.ZipCode)
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AllCustomers.FirstName)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.AllCustomers.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllCustomers.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllCustomers.ZipCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AllCustomers.Id })
            <td>
                <input type="checkbox" name="name" value="value"> Mark as Done<br>
            <td />

            @*@Html.ActionLink("Details", "Details", new { id = item.Id })*@
            @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>
