
        @model _TrashCollector_DCC.Models.CustomerViewModel

        @{
            ViewBag.Title = "Todays Trash Pickups";
            Layout = "~/Views/Shared/_CustomerLayout.cshtml";
        }

        <h2>Customer Info</h2>

        <p>
            @*@Html.ActionLink("Create New", "Create")*@
        </p>



        <table class="table">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomers.FirstName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.AllCustomers.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomers.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomers.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomers.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomers.ZipCode)
                </th>
                <th></th>
            </tr>

         

        </table>

      
<p>
    @Html.ActionLink("Home to List", "Index")
</p>
