@model _TrashCollector_DCC.Models.EmployeeViewModel

@{
    ViewBag.Title = "Index";
}





@using (Html.BeginForm("index", "Employees"))
{
    @*<div class="search">
        <input  name="search"><button type="submit">Search by Day</button>
    </div>*@




    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container margin-top">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" name="search" placeholder="Type Day">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button  class="btn orange"  >Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table margin-buttom margin-top container">
                <tr class="orange">
                    <th class="">
                        <h3 class="lead"> First Name </h3>
                    </th>
                    <th class="">
                        <h3 class="lead"> Last Name </h3>
                    </th>
                    <th class="extra-info">
                        <h3 class="lead "> Pickup Day </h3>
                    </th>


                    <th class="extra-info">
                        <h3 class="lead"> Zipe Code </h3>

                    </th>

                    <th class="">
                        <h3 class="lead"> Comment </h3>
                    </th>

                    <th class="text-hide">
                        <h3 class="lead"> info </h3>
                    </th>


                </tr>

                @foreach (var item in Model.customers)
                {

                    <tr class="alert-warning">
                        <td class="">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td class="">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td class="extra-info">
                            @Html.DisplayFor(modelItem => item.WeeklyPickUpDay)
                        </td>


                        <td class="extra-info">
                            @Html.DisplayFor(modelItem => item.Zip)
                        </td>
                        <td class="">
                            @Html.DisplayFor(modelItem => item.ExtraPick)
                        </td>



                        <td>
                            @Html.ActionLink("More Info", "Charge", "Employees", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-warning" })

                        </td>

                    </tr>

                }

            </table>

        </div>
    </div>
   
</div>

<style>
   .orange {
        background-color: #C95332;
        color: #F1F7ED;
    }
    .form-control-borderless {
        border: none;
    }

        .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
        .margin-buttom{
            margin-bottom:10%;
        }
    .margin-top {
        margin-top: 7.5%;
    }

    @@media screen and (max-width: 993px) {
        body {
            font-size: .8rem;
        }
        .lead {
            font-size: .8rem;
        }
        .btn {
            font-size: .8rem;
        }
        .extra-info{
            display:none;
        }
   
    }
</style>