@model _TrashCollector_DCC.Models.CustomerViewModel



@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}



<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AllCustomers.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.AllCustomers.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCustomers.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCustomers.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCustomers.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllCustomers.ZipCode)
        </th>

    </tr>


   


</table>
<hr />
@using (Html.BeginForm())
{
    <div class="btn-group-toggle alert-dismissible" data-toggle="buttons">
        <label class="btn btn-secondary active">

            by day: @Html.TextBox("SearchString")


            <input type="submit" name="name" value="Search" />
        </label>
    </div>

}
